<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
	<link rel="stylesheet" href="/css/loginPage.css">
</head>

<body>
    <header>
        <div class="logo">🔴 Site Name</div>
    </header>

    <div class="login-container">
        <h1>로그인</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="userId">아이디</label>
                <input type="text" id="userId" name="loginID" placeholder="아이디 입력 (6~20자)"  required>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="loginPassword" placeholder="비밀번호 입력 (8자리 이상)"  required>
            </div>

            <button type="submit">로그인</button>
        </form>

        <div class="links">
            <a th:href="@{/signupPage}">회원가입</a> /
            <a href="#">아이디 찾기</a> /
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>

    <footer>
        <div class="footer-section">
            <div>Site name</div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <div>Topic</div>
            <div>Page</div>
            <div>Page</div>
            <div>Page</div>
        </div>
        <div class="footer-section">
            <div>Topic</div>
            <div>Page</div>
            <div>Page</div>
            <div>Page</div>
        </div>
    </footer>
</body>

</html>