<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MyPage - 호텔 예약</title>
  <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>
  <header>
    <div class="logo">🔴 Site Name</div>
    <div class="nav-links">
    <!--  <a href="#">NickName님</a> -->
		<span sec:authorize="isAuthenticated()">
		<span th:text="${#authentication.name}"></span>님
		</span>
		<a sec:authorize="isAuthenticated()" th:href="@{/myPage}">MyPage</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/savedPage}">찜 목록</a>
	    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
      <!-- <a href="#">MyPage</a> 
      <a href="#">로그아웃</a>-->
    </div>
  </header>

  <section class="welcome">
    <h1>MyPage</h1>
    <div class="hello">
      <h4>		<span sec:authorize="isAuthenticated()">
				<span th:text="${#authentication.name}"></span>
				</span>님, 환영합니다.</p>
    </div>
  </section>
  <div class="divider"></div>
  
  <h2>나의 예약현황</h2>
  <div class="reservation-card">
    <img src="https://source.unsplash.com/400x300/?hotel,pool" alt="부산 시그니엘 호텔" />
    <div class="reservation-info">
      <div class="sb">
        <h3>시그니엘 부산</h3>
        <p style="text-align: right">예약자 성함 : OOO</p>
      </div>
      <div class="sb">
        <p style="margin-bottom: 2rem">해운대</p>
        <p>객실 : 트윈베드 오션뷰 (2인)</p>
      </div>
      <div class="sb">
        <p>예약일자</p>
        <p style="text-align: right">체크인 시간 : 14:00</p>
      </div>
      <div class="sb">
        <p>5월 1일 ~ 5월 7일</p>
        <p style="text-align: right">체크아웃 시간 : 10:00</p>
      </div>
 
    </div>
  </div>
  
  <div class="reservation-buttons" >
        <button>공유하기</button>
        <button>결제내역</button>
        <button>예약취소</button>
  </div>
  <div class="divider"></div>
  <h2>회원정보</h2>
  <br/>
  <form th:action="@{/myPage}" th:object="${user}" method="post">
    <div class="half-group">
      <label>이름<input type="text" th:field="*{name}" /></label>
    </div>
    
    <label>이메일<input type="email" th:field="*{email}" class="full-width" /></label>
    
    <div class="half-group">
      <label>아이디<input type="text" th:field="*{loginID}" class="full-width" /></label>
    </div>
    
    <div class="half-group">
      <label>비밀번호<input type="password" th:field="*{loginPassword}" class="full-width" /></label>
    </div>
    
    <div class="half-group">
    <label>전화번호<input type="text" th:field="*{punNumber}" class="full-width" /></label>
    </div>
    
    <div class="reservation-buttons">
      <button type="submit">수정하기</button>
    </div>
  </form>
<br/>
<br/>
<br/>
<footer>
    <div class="footer-top">
      <div class="logo">Site Name</div>
      <div class="footer-links">
        <ul>
          <li>Page 1</li>
          <li>Page 2</li>
          <li>Page 3</li>
        </ul>
        <ul>
          <li>Topic A</li>
          <li>Topic B</li>
          <li>Topic C</li>
        </ul>
        <ul>
          <li>Info 1</li>
          <li>Info 2</li>
          <li>Info 3</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
