<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<link rel="stylesheet" href="/css/signupPage.css">
</head>

<body>
    <header>
        <div class="logo">🔴 Site Name</div>
        <div class="login-link">
        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
		</div>
    </header>

    <div class="container">
        <h1>회원가입</h1>
        <p class="subtitle">회원님의 정보를 입력해주세요.
        </p>
		
        <form th:action="@{/signup}" th:object="${userDto}" method="post">
			<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
			
            <label>이름
                <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요" required>
            </label>

            <div class="id-field">
                <label>아이디</label>
                <div class="dup-check">
                    <input type="text" th:field="*{loginID}" placeholder="아이디 입력 (6~20자)" required/>
                    <button type="button">중복확인</button>
                </div>
                <span class="error">사용할 수 없는 아이디입니다</span>
            </div>

            <label>비밀번호
                <input type="password" th:field="*{loginPassword}" placeholder="비밀번호 입력 (8자 이상)" required>
                <span class="error">사용할 수 없는 비밀번호입니다</span>
            </label>


            <label>비밀번호 확인

                <input type="password" name="passwordConfirm" placeholder="비밀번호 재입력" required>
                <span class="error">비밀번호가 일치하지 않습니다</span>
            </label>
			

            <label>전화번호
                <input type="text" th:field="*{punNumber}" placeholder="휴대폰 번호 입력 ('-' 제외)" required>
            </label>

            <label>이메일
                <input type="email" th:field="*{email}" placeholder="이메일 주소 입력"  required>
            </label>

			<label>생일
			  <input type="date" th:field="*{birthday}" required>
			</label>

            <div class="checkbox">
                <input type="checkbox">
                <span>개인정보 수집 및 이용에 대해 동의합니다.</span>
            </div>

            <button type="submit" class="submit">가입하기</button>
        </form>
    </div>

    <footer>
        <div class="footer-section">
            <div>Site name</div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <div>Topic</div>
            <div>Page</div>
            <div>Page</div>
            <div>Page</div>
        </div>
        <div class="footer-section">
            <div>Topic</div>
            <div>Page</div>
            <div>Page</div>
            <div>Page</div>
        </div>
    </footer>
</body>

</html>