* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    padding: 2rem;
    color: #333;
    color: #565656;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
}

.h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.welcome {
    margin-bottom: 2rem;
}

.reservation-card {
    border: 1px solid #ddd;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
}

.reservation-card img {
    width: 200px;
    object-fit: cover;
}

.reservation-info {
    padding: 1rem;
    flex: 1;
}

.reservation-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.reservation-buttons button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
}

.form {
    display: grid;
    gap: 1rem;
}

.form label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.form input,
.form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form .full-width {
    grid-column: 5rem;
}

.form button {
    grid-column: 1 / -1;
    padding: 0.75rem;
    background-color: #007bff;
    color: #333;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

.horizontal-group {
    display: flex;
    gap: 1rem;
    grid-column: 1 / -1;
    /* grid에서도 한 줄 차지하게 */
}

.horizontal-group label {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.half-group {
    width: 50%;
}

.half-group label {
    display: flex;
    flex-direction: column;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.hello {
    margin-left: 2.5rem;
}