* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Segoe UI', sans-serif;
}

.h1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.h2 {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.h4 {
    margin-left: 4rem;;
    font-size: 18px;
    color: #4b4b4b;
    font-weight: 400;
}

.welcome {
    margin-bottom: 0.8rem;
}

.reservationCard {
    margin-left: 3rem;
    margin-right: 3rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;    
}

.reservationCard img {
    width: 400px;
    height: 260px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.reservationInfo {
    padding: 1.5rem;
    flex: 1;
}

.reservationButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.reservationButtons button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
}

.form {
    display: grid;
    gap: 1rem;
}

.form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
}

.form input,
.form textarea {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    
}

.form .full-width {
    grid-column: 5rem;
}

.form button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
}

.divider {
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.halfGroup {
    width: 600px;
}

.halfGroup label {
    display: flex;
    flex-direction: column;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.hello {
    margin-left: 2.5rem;
}