/* Swiper Custom Navigation Buttons (Global) */
.a {
  text-decoration: none;
  color: inherit;
}

/* Footer */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.logo {
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
}

.logo a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.signupLink {
    font-size: 0.7rem;
}

.navLinks {
    margin-top: 0.7rem;
}

.navLinks a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
/* Footer */

.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
}

.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 10;
}

body .react-datepicker__header {
  background-color: #ff6f61;
  color: #000000;
  border-bottom: none;
}

body .react-datepicker__current-month,
body .react-datepicker__day-name {
  color: #000000;
}

body .react-datepicker__navigation-icon::before {
  border-color: #ffffff;
}

/* Footer */
footer {
    background: #f1f1f1;
    padding: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-right {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.footer-section {
    flex: 1;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
    color: #555;
}

.footer-section:first-child {
  flex: 1;
  align-items: flex-start;
}

.footer-section:not(:first-child) {
  align-items: flex-end;
  text-align: right;
  margin-right: 2rem;
}

.footer-links {
    display: flex;
    gap: 3rem;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color: #555;
}

.footer-bottom {
    text-align: center;
}

.footer-logo {
  font-size: 1.5rem;
    font-weight: bold;
}

.social-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.social-icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Footer */