/* Swiper Custom Navigation Buttons (Global) */
.a {
  text-decoration: none;
  color: inherit;
}

.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
}

.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 10;
}

body .react-datepicker__header {
  background-color: #ff6f61;
  color: #000000;
  border-bottom: none;
}

body .react-datepicker__current-month,
body .react-datepicker__day-name {
  color: #000000;
}

body .react-datepicker__navigation-icon::before {
  border-color: #ffffff;
}

/* Footer */
footer {
    background: #f1f1f1;
    padding: 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.footer-section {
    flex: 1;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
    color: #555;
}

.footer-links {
    display: flex;
    gap: 3rem;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color: #555;
}

.footer-bottom {
    text-align: center;
}

.footer-logo {
  font-size: 1.5rem;
    font-weight: bold;
}

.social-icons a {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: #555;
}
